@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-base: 31, 56, 64;
        --color-base-active: 30, 220, 254;
        /* --color-base-second: 234, 228, 204; */
        --color-base-second: 255, 255, 224;
        --color-base-red: 254, 0, 0;
        --color-base-purple: 138, 43, 226;
        --color-lvl-zero: 192, 192, 192;
        --color-lvl-first: 192, 192, 192;
        --color-lvl-second: 0, 128, 0;
        --color-lvl-thirth: 0, 0, 255;
        --color-lvl-fourth: 128, 0, 128;
        --color-lvl-fifth: 255, 102, 0;
        --color-lvl-sixth: 204, 0, 0;
        --color-lvl-seventh: 255, 204, 0;
    }
}
